{% extends 'core/base.html' %}

{% block content %}

<div class="content">

    <div class="painel-header">
        <h1>Criar desafio</h1>
        <p style="color:#666;">{{ biblioteca.nome }}</p>
    </div>

    <div class="biblioteca-form-container">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <span style="color:red; font-size:13px;">{{ field.errors }}</span>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="auth-btn">Criar desafio</button>
        </form>
    </div>

</div>

{% endblock %}