# Framework principal
Django==5.2.14

# Servidor WSGI para produção
gunicorn==23.0.0

# Banco de dados PostgreSQL
psycopg2-binary==2.9.10
dj-database-url==2.3.0

# Arquivos estáticos em produção
whitenoise==6.9.0

# Variáveis de ambiente
python-dotenv==1.0.1

# Upload de imagens
Pillow==11.2.1

# Requisições HTTP
requests==2.32.3

# Utilitários Django
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.2

cloudinary
django-cloudinary-storage