{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Biblioteca Virtual</title>

    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bibliotecas.css' %}">

</head>

<body>

    <nav class="navbar">

        <div class="nav-left">

            <h1 class="logo">
                Biblioteca
            </h1>

        </div>

        <div class="nav-center">

            <a href="/">Início</a>

            {% if user.is_authenticated %}

                {% if user.tipo_usuario == 'bibliotecario' %}

                    <a href="{% url 'painel_bibliotecario' %}">
                        Minhas Bibliotecas
                    </a>

                    <a href="{% url 'criar_biblioteca' %}">
                        Criar Biblioteca
                    </a>

                {% endif %}

            {% endif %}

        </div>

        <div class="nav-right">

            {% if user.is_authenticated %}

                <span class="user-name">
                    Olá, {{ user.username }}
                </span>

                <a href="{% url 'logout' %}">
                    <button class="btn login">
                        Sair
                    </button>
                </a>

            {% else %}

                <a href="{% url 'login' %}">
                    <button class="btn login">
                        Login
                    </button>
                </a>

                <a href="{% url 'cadastro' %}">
                    <button class="btn register">
                        Cadastrar
                    </button>
                </a>

            {% endif %}

        </div>

    </nav>

    <div class="content">

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>