<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
</head>
<body>

{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<section class="hero">
    
    <div class="hero-image">
        <img src ="{% static 'core/img/book_owners.png' %}" alt = "Book Owners" >
    </div>

    <div class="hero-text">

        <h1>Bem-vindo à Biblioteca Virtual</h1>

        <p>{% lorem 1 b random %}</p>

</section>

{% endblock %}

</body>
</html>